<hr>

<p id="title"><%= @article.title %></p>
<p> <%= @article.created_at.strftime("%B %d, %Y") %></p>
<%= raw @article.marked_text %>

<p id="tags">Tags: <%= raw @article.tag_list.map{|t| link_to t, tag_path(t)}.join(', ') %></p>


<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article),
                    method: :delete, data: { confirm: 'Are you sure?' } %> 
<hr>
<h2>Comments</h2>
<%= render @article.comments %>

<p id="add">Add a comment:</p>
<%= render "comments/form" %>

