<h1>nik.io</h1>
<hr>
 
<ul id="nav">
<li><%= link_to 'Homepage', '/articles/index'  %></li>
<li><%= link_to 'New Article', new_article_path %></li>
</ul>
<ul>
<div id="tag_cloud">
  <% tag_cloud Article.tag_counts, %w{s m l} do |tag, css_class| %>
    <li><%= link_to tag.name, tag_path(tag.name), class: css_class %></li>
  <% end %>
</div>
</ul>
<hr>
 

<p id="title"><%= @article.title %></p>
<p> <%= @article.created_at.strftime("%B %d, %Y") %></p>
<p><%= @article.text %></p>

<p id="tags">Tags: <%= raw @article.tag_list.map{|t| link_to t, tag_path(t)}.join(', ') %></p>


<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article),
                    method: :delete, data: { confirm: 'Are you sure?' } %> 
<hr>
<h2>Comments</h2>
<%= render @article.comments %>

<p id="add">Add a comment:</p>
<%= render "comments/form" %>

